
html,
body,
#map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.box {
  min-height: 50px;
  padding: 2px;
  margin: 2px;
  margin-left: 15px;
  font-weight: 800;
  color: #fff;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.border {
  background: rgb(89, 191, 224);
  min-height: 10px;
  font-size: 9px;
}

#bar{
  width: 300px;
  height: 250px;
  font-size: 9px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

#myDiv{
  width: 300px;
  height: 250px;
  font-size: 9px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

/* .col-md-5 {
  /* min-height: 50px; */
  /* padding: 2px; */
  /* margin: 2px; */
  /* margin-left: 2px; */
  /* font-weight: 800; */
  /* color: #fff; */
/* } */