
html,
body,
#map, #map-container {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.table-head {
  font-size: 12px;
  color: rgb(19, 86, 138);
  border-left: 2px solid hsla(0, 0%, 0%, 0.5);
}

tbody {
  font-size: 10px;
  color: rgb(19, 86, 138);
  border-left: 2px solid hsla(0, 0%, 0%, 0.5);
}

tbody tr{
  font-size: 12px;
  height: 10px;
  color: rgb(19, 86, 138);
  margin-top: 1px;
  margin-bottom: 1px;
}

.box {
  min-height: 50px;
  padding: 2px;
  margin: 1px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 5px;
  font-weight: 800;
  color: #fff;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.header {
  background: rgb(243, 247, 248);
  font-size: 30px;
  color: rgb(19, 86, 138)
}

.col-md-2 {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}

.well {
  
  margin-left: 0px;
  margin-right: 0px;
  background: rgb(243, 247, 248);
  font-size: 14px;
  color: rgb(19, 86, 138)
}

.border {
  background: rgb(89, 191, 224);
  min-height: 10px;
  font-size: 9px;
}

#bar{
  width: 300px;
  height: 250px;
  font-size: 9px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 1px;
  padding-right: 1px;
  /* border-left: 2px solid hsla(0, 0%, 0%, 0.5); */
  /* border: 2px solid hsla(0, 0%, 0%, 0.5); */
}

#myDiv{
  width: 300px;
  height: 250px;
  font-size: 9px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 1px;
  padding-right: 1px;
  /* border-left: 2px solid hsla(0, 0%, 0%, 0.5); */
  /* border-right: 2px solid hsla(0, 0%, 0%, 0.5); */
  /* border: 2px solid hsla(0, 0%, 0%, 0.5); */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

